// Миксины
@mixin flexbox() {display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;}
@mixin flexboxinline() {display: -webkit-inline-flex;display: -moz-inline-flex;display: -ms-inline-flex;display: -o-inline-flex;display: inline-flex;}
// Миксины

// Переменные
$minwidth:320px;
$mw:1400;
$md1:$mw+12;
$md2:992.98;
$md3:767.98;
$md4:479.98;
// Переменные

// обнуление стилей
@import "nullstyle.scss";
// обнуление стилей

// Подключаемые шрифты
@font-face {
	font-family: 'KayakSans';
	src: url('../fonts/KayakSansBold.eot');
	src: url('../fonts/KayakSansBold.eot') format('embedded-opentype'),
		url('../fonts/KayakSansBold.woff2') format('woff2'),
		url('../fonts/KayakSansBold.woff') format('woff'),
		url('../fonts/KayakSansBold.ttf') format('truetype'),
		url('../fonts/KayakSansBold.svg#KayakSansBold') format('svg');
		font-weight: 700;
		font-style: normal;
}
@font-face {
	font-family: 'KayakSans';
	src: url('../fonts/KayakSansLight.eot');
	src: url('../fonts/KayakSansLight.eot') format('embedded-opentype'),
		url('../fonts/KayakSansLight.woff2') format('woff2'),
		url('../fonts/KayakSansLight.woff') format('woff'),
		url('../fonts/KayakSansLight.ttf') format('truetype'),
		url('../fonts/KayakSansLight.svg#KayakSansLight') format('svg');
		font-weight: 300;
		font-style: normal;
}
@font-face {
	font-family: 'KayakSans';
	src: url('../fonts/KayakSansRegular.eot');
	src: url('../fonts/KayakSansRegular.eot') format('embedded-opentype'),
		url('../fonts/KayakSansRegular.woff2') format('woff2'),
		url('../fonts/KayakSansRegular.woff') format('woff'),
		url('../fonts/KayakSansRegular.ttf') format('truetype'),
		url('../fonts/KayakSansRegular.svg#KayakSansRegular') format('svg');
		font-weight: 400;
		font-style: normal;
}


// Подключаемые шрифты

// Шрифт по умолчанию
body{font-family: 'KayakSans';
font-weight: 700;}
// Шрифт по умолчанию

// Оболочка
.wrapper {width: 100%;min-height: 100%;overflow: hidden;
	@include flexbox();
	flex-direction: column;
}
// Оболочка

// Основная сетка
.container{max-width:$mw+px;margin: 0 auto;width: auto;
@media (max-width:($md1+px)){max-width: 970px;}
@media (max-width:($md2+px)){max-width: 750px;}
@media (max-width:($md3+px)){max-width: none;padding: 0 10px;}
}
// Основная сетка

// Подключение файлов стилей страниц и элементов


// Подключение файлов стилей страниц и элементов

// ОСНОВНОЙ БЛОК

.search-food {

	background: url(../img/backgraund/1.jpg) 0 0/contain no-repeat;
	@media (max-width:($md2+px)){
		background: #f4f5f7;
	}

	&__columns {
		@include flexbox();
		@media (max-width:($md2+px)){
			flex-direction: column;
		}
	}

	&_img {
		position: relative;
		width: 100%;
		height: 100%;
		@media (max-width:($md2+px)){
			margin: 0 auto;
		}
	}

	&__item {
		
		margin: 40% 10% 0 23%;
		@media (max-width:($md1+px)){
			margin: 25% 5% 0 20%;
		}
		@media (max-width:($md2+px)){
			text-align: center;
			margin: 6% 5% 0 0;
		}
	}

	&__title {
		margin: 0 0 8% 0;
		font-size: 50px;
		line-height: 1.4;
		letter-spacing: -1px;
		span{
			color: #5fb709;
		}
		@media (max-width:($md1+px)){
			font-size: 40px;
			line-height: 50px;
		}
	}

	&__text {
		margin: 0 0 10% 0;
		font-size: 21px;
		@media (max-width:($md1+px)){
			font-size: 15px;
		}
	}

	&__btn {
		margin: 0 0 0 23%;
		@media (max-width:($md1+px)){
			margin: 0 auto;
		}
	}

	&__img {
		padding: 9% 8% 0 0;
		img{
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}

.btn {
	display: block;
	position: relative;
	top: 0;
	padding: 25px;
	text-align: center;
	background-color: #5fb709;
	width: 220px;
	height: 70px;
	font-size: 25px;
	font-weight: 700;
	color: #fff;
	border-radius: 10px;
	transition: all 0.5s;
	&:hover{
		background-color: #e4a401;
		box-shadow: 0 3px 10px #000;
		top:2px;
	}
	&:active {
		transition: all 0.1s;
		top: 0;
		box-shadow: 0 0 0 #000;
		background-color: #000;
	}
}

//==================================================================================
.discover {
	margin: 0 0 40px 0;

	&__columns {
		@include flexbox();
		justify-content: space-around;
		@media (max-width:($md2+px)){
			flex-direction: column;
		}
	}

	&__column {
	@media (max-width:($md2+px)){
		margin: 25px auto;
	}
	}

	&__item-1{
		width: 100%;
		img{
			object-fit: contain;
			width: 100%;
		}
	}

	&__item-2 {
		text-align: center;
	}

	&__title {
		font-size: 50px;
		line-height: 50px;
		letter-spacing: -1px;
		margin: 0 20% 6% 0;
		span{
			color: #5fb709;
		}
		@media (max-width:($md1+px)){
			font-size: 40px;
			line-height: 50px;
		}
		@media (max-width:($md2+px)){
			text-align: center;
			margin: 25px auto;
		}
	}

	&__search {
		width: 480px;
		height: 70px;
		border: 1px solid #000;
		border-radius: 10px;
		padding: 0 0 0 34px;
		font-size: 16px;
		@media (max-width:($md2+px)){
			display: block;
			margin: 10px auto;
			padding: 0 0 0 10px;
			font-size: 14px;
		}
		@media (max-width:($md4+px)){
			width: 260px;
		}
	}

	&__btn {
		margin: 0 0 0 6px;
		display: inline-block;
		padding: 0;
		@media (max-width:($md1+px)){
			display: block;
			margin: 6px 0 0 135px;
		}
		@media (max-width:($md2+px)){
			margin: 10px auto;
		}
	}
}

//==========================================================================================

.uber {
	background: url(../img/backgraund/2.jpg) 0 0/cover no-repeat;
	margin: 0 0 2% 0;
	padding: 0 0 5% 0;
	@media (max-width:($md2+px)){
		background: #f4f5f7;
	}

	&__columns {
		@include flexbox();
		justify-content: space-around;
		@media (max-width:($md2+px)){
			flex-direction: column;
			text-align: center;
			align-items: center;
			justify-content: center;
		}
	}

	&__column {
		@media (max-width:($md2+px)){
			@include flexbox();
			flex-direction: column;
			text-align: center;
			align-items: center;
			justify-content: center;
		}
	}

	&__icon {
		margin: 31% 0 0 36%;
		img{
			display: block;
			margin: 0 0 11px 0;
		}
		@media (max-width:($md2+px)){
			margin: 5% auto;
		}
	}

	&__img {
		width: 50%;
		img{
			width: 100%;
			@media (max-width:($md2+px)){
				display: none;
			}
	}
	}

	&__wrapp {
		@include flexbox();
		margin: 39% 0 0 0;
		@media (max-width:($md2+px)){
		display: block;
		margin: 20% 0 0 0;
		}
	}
}

.title {
		margin: 17% 0 12% 23%;
		font-size: 50px;
		line-height: 70px;
		line-height: -1px;
		span{	
			color: #5fb709;
		}
	@media (max-width:($md1+px)){
		font-size: 40px;
		line-height: 50px;
	}
	@media (max-width:($md2+px)){
		text-align: center;
		margin: 0 auto;
	}

	&__btn {
		display: inline-block;
		margin: 6% 0 0 0;
		padding: 0;
		@media (max-width:($md1+px)){
			padding: 9px;
		}
		@media (max-width:($md2+px)){
			padding: 10px;
		}
	}
}

.wrapp {

	&__column {
		img{
			width: 100%;
		}
	}
	&__egg{
		@media (max-width:($md2+px)){
			display: none;
		}
	}
}

//==================================================================

.tap {

	&__columns {
		@include flexbox();
		justify-content: space-between;
		@media (max-width:($md2+px)){
			flex-direction: column;
			align-items: center;
		}
	}

	&__item-1 {
		padding: 25% 0 0 0;
		img{
			width: 100%;
		}
		@media (max-width:($md2+px)){
			display: none;
		}
	}

	&__item-2 {
		max-width: 600px;
		padding: 0 0 0 10%;
		@media (max-width:($md2+px)){
			@include flexbox();
			flex-direction: column;
			align-items: center;
			padding: 0;
		}
	}

	&__item-3 {
	padding: 140% 0 0 0 ;
		img{
			width: auto;
			@media (max-width:($md2+px)){
				padding: 0 0 0 10%;
			}
		}
		@media (max-width:($md2+px)){
			padding: 10% 0 0 0;
		}
	}
}

.item-2 {

	&__img {
		width: 100%;
		padding: 0 0 15% 50%;
		img{
			display: inline-block;
			@media (max-width:($md2+px)){
				padding: 0 0 0 20%;
			}
		}
		@media (max-width:($md2+px)){
			padding: 0;
			text-align: center;
		}
	}

	&__title {
		padding: 0 0 28% 0;
		font-size: 50px;
		line-height: 70px;
		letter-spacing: -2px;
		span{
			color: #5fb709;
		}
		@media (max-width:($md1+px)){
			font-size: 40px;
			line-height: 50px;
			padding: 0 0 15% 0;
		}
		@media (max-width:($md2+px)){
			text-align: center;
			padding: 0 0 10% 0;
		}
	}

	&__img-icon {
		img{
			display: block;
			margin: 0 0 11px 0;
		}
		@media (max-width:($md2+px)){
			align-items: center;
		}
	}
}

//=================================================================================
.track {
	background: url(../img/backgraund/3.png) 0 0/cover no-repeat;
	@media (max-width:($md2+px)){
		background-color: #edeef0;
	}

	&__columns {
		padding: 11% 0 11% 0;
		@include flexbox();
		@media (max-width:($md2+px)){
			flex-direction: column;
			align-items: center;
		}
	}

	&__column {
		flex: 0 1 auto;
		margin: 0 0 0 11%;
		@media (max-width:($md1+px)){
			margin: 0 0 0 5%;
		}
		&:last-child{
			margin: 4% 20% 0 0;
			@media (max-width:($md1+px)){
				margin: 0;
				padding: 5% 0 0 5%;
			}
		}
		@media (max-width:($md2+px)){
			text-align: center;
		}
	}
}

.track {

	&__img-1 {
		padding: 0 0 0 60%;
		@media (max-width:($md1+px)){
			padding: 0 0 0 40%;
		}
		@media (max-width:($md2+px)){
			padding: 0;
		}
	}

	&__title {
		font-size: 50px;
		line-height: 1.4;
		letter-spacing: -1px;
		span{
			color: #5fb709;
		}
		@media (max-width:($md1+px)){
			font-size: 40px;
		}
	}

	&__img-2 {
		width: 100%;
		padding: 15% 0 0 10%;
		@media (max-width:($md1+px)){
			padding: 36% 0 0 4%;
		}
		@media (max-width:($md2+px)){
			padding: 5% 0 0 0;
		}
		img{
			display: inline-block;
			padding: 15% 0 0 0%;
			@media (max-width:($md1+px)){
			padding: 0;
			}
			&:last-child{
				padding: 30% 0 0 10%;
				@media (max-width:($md1+px)){
					padding: 15% 0 0 5%;
				}
			}
		}
	}
}

.track__column-2{
	img{
		width: 100%;
		@media (max-width:($md1+px)){
			width: 75%;
		}
	}
}

//==================================================================

.app {
	background: url(../img/backgraund/5.png) 0 0/cover no-repeat;

	&__columns {
		@include flexbox();
		padding: 5% 0 0 49%;
		@media (max-width:($md2+px)){
			flex-direction: column;
			text-align: center;
			padding: 0;
			align-items: center;
		}
	}

	&__item {
		@include flexbox();
		flex-direction: column;
		@media (max-width:($md2+px)){
			align-items: center;
		}
	}

	&__img-1 {
		margin: 30% 0 0 -18%;
		img{
			display: block;
			margin: 0 0 11px 0;
		}
		@media (max-width:($md2+px)){
			margin: 0;
		}
	}

	&__text {
		margin: 22% 0 16% 0;
		@include flexbox();
		@media (max-width:($md2+px)){
			flex-direction: column;
			align-items: center;
		}
	}

	&__img-2 {
	display: inline-block;
		margin: 0 0 32% 0;
		img{
			margin: 0 19px 20px 0;
		}
	}

	&__img-3 {
		text-align: right;
		@media (max-width:($md2+px)){
			display: none;
		}
	}
}

.text {

	&__logo {
		flex: 0 0 auto;
		margin: 0 6% 0 0;
		width: 117px;
		height: 117px;
		padding: 16px 0 0 0;
		background-color: #000;
		border-radius: 15px;
		font-size: 40px;
		color: #fff;
		text-align: center;
		span{
			color: #5fb709;
		}
	}

	&__title {
		padding: 0 0 0 0;
		font-size: 40px;
		line-height: 1.28;
		letter-spacing: -0.8px;
		p{
			span{
				color: #5fb709;
			}
		}
	}
	span{
		color: #5fb709;
	}
}

.column-3{
	&:last-child{
		text-align: right;
	}
	img{
		&:first-child{
			width: 100%;
			margin: 0 0 100% 0;
		}
	}
	@media (max-width:($md2+px)){
		display: none;
	}
}

//==================================================================

.deliver {
	background: url(../img/backgraund/6.png);
	@media (max-width:($md2+px)){
		background-color: #edeef0;
	}

	&__columns {
		max-width: 1040px;
		margin: 0 auto;
		padding: 18% 0 7.7% 0;
		@include flexbox();
		justify-content: center;
		@media (max-width:($md2+px)){
			padding: 10px 20px;
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
	}

	&__column {
	@include flexbox();
	}

	&__item {
		@include flexbox();
		flex-direction: column;
		@media (max-width:($md2+px)){
			align-items: center;
		}
	}

	&__img-1 {
		margin: 0 0 20px 0;
		flex: 1 1 auto;
	}

	&__title {
		font-size: 35px;
		color: #5fb709;
		margin: 0 0 36px 0;
		flex: 1 1 auto;
	}

	&__subtitle {
		font-size: 20px;
		margin: 0 0 29px 0;
		flex: 1 1 auto;
		@media (max-width:($md2+px)){
			flex: 0 1 auto;
		}
	}
}

.column-1 {
	border-right: 1px solid #d9dadb;
	padding: 0 9.3% 0 0;
	@media (max-width:($md1+px)){
		padding: 0 4% 0 0;
	}
	@media (max-width:($md2+px)){
		padding: 0 0 40px 0;
		border: none;
	}
}

.column-2 {
	border-left: 1px solid #d9dadb;
	padding: 0  0 0 9.3%;
	@media (max-width:($md1+px)){
		padding: 0  0 0 4%;
	}
	@media (max-width:($md2+px)){
		padding: 0 0 20px 0;
		border: none;
	}
}

//=========================================================================================
.footer {
	background-color: #262626;
	font-weight: 300;
	color: #f1f1f1;
	font-size: 20px;
	a{
		font-size: 20px;
		color: #f1f1f1;
		line-height: 2.55;
		letter-spacing: 0.4px;
	}
	p{
		padding: 0 0 20px 60px;
		font-family: 'Times New Roman', Times, serif;
		color: #565656;
		@media (max-width:($md2+px)){
			padding: 0 0 20px 0;
			text-align: center;
		}
	}

	&__columns {
		@include flexbox();
		padding: 7.9% 0 3% 0;
		@media (max-width:($md2+px)){
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
	}

	&__column {
		flex: 0 1 50%;
		border-top: 1px solid #3d3d3d;
		padding: 49px 0 0 0;
		@media (max-width:($md2+px)){
			&:last-child{
				border: none;
			}
		}
	}

	&__item-1 {
		@include flexbox();
		justify-content: space-around;
		@media (max-width:($md2+px)){
			flex-direction: column;
			align-items: center;
		}
	}

	&__social {
		img{
			height: 37px;
			margin: 0 15px;
		}
	}

	&__item-2 {
		@include flexbox();
		justify-content: space-around;
		@media (max-width:($md2+px)){
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
	}

	&__download {
		font-weight: 400;
		h2{
			margin: 0 0 33px 0;
		}
		img{
			display: inline-block;
			width: 123px;
			height: 37px;
		}
	}
}